:root {
    --primary-text-color: #757575;
    --titel-text-color: #212121;
    --accent-color: #2196F3;
    --primari-white-color: #ffffff;
    --color-grey: #F5F4FA;
}

body {
    background-color: #ffffff;
    color: var(--accent-text-color);
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
}

.list {
    list-style: none;
    margin: 0;
    padding: 0;
}
/*Общие стили*/

    .link {
        color: var(--titel-text-color);
        text-decoration: none;
        font-weight: 500;
        line-height: 0.03;
        letter-spacing: 0.02em;
    }

    .link:hover, .link:focus {
        color: var(--accent-color);
    }

    .title {
        color: var(--titel-text-color);
        font-weight: 700;
        font-size: 36px;
        line-height: 1.16;
        text-align: center;
    }

    .description {
        color: var(--primary-text-color);
    }

    .button {
        color: var(--titel-text-color);
        font-family: inherit;
        font-size: 16px;
        padding-right: 32px;
        padding-left: 32px;
        padding-top: 10px;
        padding-bottom: 10px;
        display: inline-block;
        border: none;

    }

    .button .primary {
        background-color: var(--accent-color);
        color: var(--primari-white-color);
        text-decoration: none;

    }
    
    .button .primary:hover,.button.primary:focus{
        background-color: var(--primari-white-color);
        color:  var(--accent-color);
    }

    .button .secondary {
        background-color: var(--color-grey);
        color: var(--titel-text-color);
        border: none;
    }

    .button .secondary:hover,.button.secondary:focus{
        background-color: var(--accent-color);
        color:  var(--primari-white-color);

    }

    /*Хедер*/

    .nav .link{
        font-weight: 500;
        line-height: 0.03;
        letter-spacing: 0.02em;
    }

    .logo-link{
        font-family: Raleway, sans-serif;
        font-weight: 700;
        font-size: 26px;
        line-height: 1.2;
    }

    .logo-link:hover .logo-color, .logo-link:focus .logo-color {
    
      color: var(--titel-text-color);  
    }

    .logo-color {
        color: var(--accent-color);
    }

    .contacts .link{
        color: var(--primary-text-color);
    }
    .contacts .link:hover, .contacts .link:focus {
        color: var(--accent-color);
    }

    /*Герой*/

    .hero-title {
        color: var(--primari-white-color);
        font-weight: 900;
        font-size: 44px;
        line-height: 1.36;
        text-align: center;
        letter-spacing: 0.06em;
        text-transform: uppercase
    }

    .hero-button {        
        background-color: var(--accent-color);
        color: var(--primari-white-color);
        text-decoration: none;
    }

    .hero-button:hover, .hero-button:focus{
        background-color: var(--primari-white-color);
        color:  var(--accent-color);

    }

    /*Наши преимщества*/

    .advantages-title{
        font-weight: 700;
        line-height: 1.14;
        font-size: 14px;
        text-transform: uppercase;
        text-align: left;
    }

    /*Чем мы занимаемся*/

    /*Наша команда*/

    .section-bgr{
        background-color: #F5F4FA;
    }

    .title-team{
        font-weight: 500;
        font-size: 16px;
        text-align: left;
        line-height: 1.18;
    }
    .description-team{
        font-size: 16px;
        line-height: 1.9;
    }

    /*Футер*/

    .office{
        font-style: normal;
        font-size: 14px;
        line-height: 1.71;
    }

    .contacts{
        font-style: normal;
    }

    /*2 СТРАНИЦА*/

    /*Портфолио*/

    .portfolio-title{
        color: var(--titel-text-color);
        font-weight: bold;
        font-size: 18px;
        line-height: 2;
        letter-spacing: 0.06em;
        text-decoration: none;
    }

    .description-portfolio{
        color: var(--primary-text-color);
        font-size: 16px;
        line-height: 1.9;
        text-decoration: none;
    }

    .image-hover{
        background-color: var(--accent-color);
        color: var(--primari-white-color);
        font-size: 18px;
        line-height: 1.55;
    }