:root {
    --primary-text-color: #757575;
    --titel-text-color: #212121;
    --accent-color: #2196F3;
    --primari-white-color: #ffffff;
}

body {
    background-color: #ffffff;
    color: var(--accent-text-color);
    font-family: roboto;
}

/*Хедер*/

/*Навигация*/

    .logo {
        color: var(--titel-text-color);
    }

    .site-nav .link {
        color: var(--titel-text-color);
    }

    .site-nav .link:hover {
        color: var(--accent-color);
    }

    .site-nav .link:focus {
        color: var(--accent-color);
    }

/*Контакты*/

    .contacts .e-mail {
        color: var(--primary-text-color);
    }
    .contacts .e-mail:hover {
        color: var(--accent-color);    
    }

    .contacts .e-mail:focus {
        color: var(--accent-color);
    }

    .contacts .phone {
        color: var(--primary-text-color);
    }
    .contacts .phone:hover {
        color: var(--accent-color);
    }

    .contacts .phone:focus {
        color: var(--accent-color);
    }

/*Герой*/

    .hero .hero-title {
        color: var(--primari-white-color);
        background-color: var(--primary-text-color);
    }

    .button {
        background-color: var(--titel-text-color);
        color: var(--primari-white-color);

        font-size: 16px;
        padding: 32px;
        display: inline-block;
        border: 1px; 
        solid: black;

    }

    .button.primary {
        background-color: var(--accent-color);
        color: var(--primari-white-color);
        border-color: transparent;
    }

    .button.secondary {
        background-color: var(--primari-white-color);
        color: var(--titel-text-color);
        border-color: var(--accent-color);
    }