:root {
    --primary-text-color: #757575;
    --titel-text-color: #212121;
    --accent-color: #2196F3;
    --primari-white-color: #ffffff;
    --color-grey: #F5F4FA;
}

html{
    box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

.container{
    width: 1230px;
    padding-left: 15px;
    padding-right: 15px;
    margin:0 auto;
}

h1, h2, h3{
    margin-top: 0;
    margin-bottom: 0;
}
body {
    background-color: #ffffff;
    color: var(--accent-text-color);
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
}

.section-background{
    background-color: var(--color-grey);
}
/*Общие стили*/


.list {
    list-style: none;
    margin: 0;
    padding: 0;
}

    .link {
        color: var(--titel-text-color);
        text-decoration: none;
        font-weight: 500;
        line-height: 0.03;
        letter-spacing: 0.02em;
    }

    .link:hover, .link:focus {
        color: var(--accent-color);
    }

    .title {
        color: var(--titel-text-color);
        font-weight: 700;
        font-size: 36px;
        line-height: 1.16;
        text-align: center;
        margin: 0;
        padding: 0;
    }

    .description {
        color: var(--primary-text-color);
        margin: 0;
        padding: 0;
    }

    .button {
        color: var(--titel-text-color);
        font-family: inherit;
        font-size: 16px;
        border: none;
        border-radius: 4px;
        display: inline-block;
        min-width: 73px;
        text-align: center;
    }

    .button.primary {
        background-color: var(--accent-color);
        color: var(--primari-white-color);
        text-decoration: none;
        box-align: center;
        padding: 10px 32px;
    }
    
    .button.primary:hover, .button.primary:focus{
        background-color: var(--primari-white-color);
        color:  var(--accent-color);
        font-weight: 700;
        line-height: 1.9;
    }

    .button.secondary {
        background-color: var(--color-grey);
        color: var(--titel-text-color);
        font-weight: 500;
        line-height: 1.6;
        padding: 6px 22px;
        margin: 4px;
        box-align: center;
    }

    .button.secondary:hover, .button.secondary:focus{
        background-color: var(--accent-color);
        color:  var(--primari-white-color);
        outline: transparent;
        box-shadow: 0 0 10px rgba(33, 150, 243, 0.5);      
    }

    /*Хедер*/

    .link.activ {
        color: var(--accent-color);
    }

    .logo-link{
        font-family: Raleway, sans-serif;
        font-weight: 700;
        font-size: 26px;
        line-height: 1.2;
    }

    .logo-link:hover .logo-color, .logo-link:focus .logo-color {
    
      color: var(--titel-text-color);  
    }

    .logo-color {
        color: var(--accent-color);
    }
    
    .nav .link{
        font-weight: 500;
        line-height: 0.03;
    }

    .contacts .link{
        color: var(--primary-text-color);
    }
    .contacts .link:hover, .contacts .link:focus {
        color: var(--accent-color);
    }

    .contacts{
    }

    .nav-top{
        display: inline-block;
        margin-right: 25px;
    }


    /*Герой*/

    .hero{
        text-align: center;
    }

    .hero-title {
        margin-top: 0;
        margin-bottom: 30px;
        color: var(--primari-white-color);
        font-weight: 900;
        font-size: 44px;
        line-height: 1.36;
        text-align: center;
        letter-spacing: 0.06em;
        text-transform: uppercase
    }

    /*Наши преимщества*/
    .title-hide{

    }

    .advantages-title{
        font-weight: 700;
        line-height: 1.14;
        font-size: 14px;
        text-transform: uppercase;
        text-align: left;
    }

    /*Чем мы занимаемся*/

    .occupation-title{
        font-weight: 700;
        line-height: 1.14;
        font-size: 14px;
        text-transform: uppercase;
        text-align: center;
        color: var(--primari-white-color);
        background-color: var(--color-grey);
    }
    }

    /*Наша команда*/

    .title-team{
        font-weight: 500;
        font-size: 16px;
        line-height: 1.18;
        margin-top: 0;
        margin-bottom: 10;
    }
    .description-team{
        font-size: 16px;
        line-height: 1.9;
    }

    .eject-team{
        display: inline-block;
        text-align: center;
    }

    .card-team {
        width: 270px;
        height: 428px;
        margin-bottom: 20px;
        border-radius: 4px;
        overflow: hidden;
        background-color: var(--primari-white-color);
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
        border-radius: 0px 0px 4px 4px;
      }

    /*Футер*/

    .office{
        font-style: normal;
        font-size: 14px;
        margin-top: 0;
        margin-bottom: 0;
    }

    .contacts{
        font-style: normal;

    }
      
    /*2 СТРАНИЦА*/

    /*Портфолио*/

    .portfolio{

    }

    .portfolio-title{
        color: var(--titel-text-color);
        font-weight: 700;
        font-size: 18px;
        line-height: 2;
        letter-spacing: 0.06em;
        text-decoration: none;
        margin-top: 0;
        margin-bottom: 0;
    }

    .list.botton{
        margin-left: auto;
        margin-right: auto;
    }

    .description-portfolio{
        color: var(--primary-text-color);
        font-size: 16px;
        line-height: 1.9;
        text-decoration: none;
    }

    .image-hover{
        background-color: var(--accent-color);
        color: var(--primari-white-color);
        font-size: 18px;
        line-height: 1.55;
        margin-top: 0;
        margin-bottom: 0;
    }

    .eject{
        display: inline-block;
    }
